div{
    height: 100px;
    width:100px;
    background-color: aqua;
    border: 2px solid black;
    text-align: center;
}

#box1{
    position:relative;
    top: 80px;
    left: 50px;
    background-color: blue;
    display: inline-block;
}

#box2{
    position:relative;
left: 20px;
top: 40px;
background-color: chartreuse;
}
#box3{
    position: absolute;
    left: 5px;
    top: 10px;
    background-color: crimson;
}
 #box4{
    position: fixed;
    top: 0px;
  
    background-color: deeppink;
} 