*{
    padding:0;
    margin:0;
color: white;
}
#navbar{
    height: 60px;
    background-color: black;
}
button{
    background-color: #f08804;
}
#logo{
    color: #f08804;
}
a{
    margin-right: 200px;
}
body{
    border-width: 10px;
    border-color:blue; 
    border-style: solid;
}
    

