div{
    height: 200px;
    width: 200px;
    background-color: darkmagenta;
    text-align: center;
    border: 2px solid black;
    position: absolute;
    left: 100px;
    top: 100px;
  
   animation-name: colorAnimate;
   animation-duration: 10s;
   /* animation-timing-function: ease-out; */
   /* animation-delay: 2s;
   animation-iteration-count: infinite;
    animation-direction: alternate;  */

    animation: colorAnimate 2s ease-in 0s infinite normal;

}
@keyframes colorAnimate{
    from{
        left:0px;
        background-colore:yellow;
        color: blue;
    }
    to{
        left:1000px;
        background-color: navy;
        color: coral;
    }
}
div:hover{
   

}


